<html>
  <head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>Product Upload Failed</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "../static/style.css" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../media/favicon.JPG">

	</head>

	<body1>
    
    <img src="../media/peachebanner.PNG">

    <div class="fheader">
      <h10> p e a c h e   s e l l e r </h10>
      
      <h5> Your product could not be uploaded. </h5>
      <p2> Your information was incorrect or inapplicable. <p2>
    </div>

    <a href="index/html">
    <input type="submit" value="Return Home" />
    </a>
    
  </body1>
</html>
