<html>
  <head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>peache seller registration</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "../static/style.css" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../media/peachelogo.PNG">
	</head>

	<body2>
    
	<div class="fimage">
	</div>

    	<div class="fheader">
      		<h7>peache seller</h7>
		<br><br><br>

      		<!-- information -->

      		<p2> Thank you for your interest in becoming a peache seller! <p2><br><br>
      		<p3> Please complete this form to become a peache seller. Once you have filled in all the details, press submit and we will process the application. 
		It may take a few days to process the application and we will inform you of whether the application is successful or not through email. </p3>
      		<p3> Information collected will be confidential and are necessary in order to make sure that you are a valid seller. </p3>
    	</div>

    	<p3>

      	<!-- seller information -->
      	<div class="fcard">
        	<h5> Key Contact Information </h5>
        
        	<form action="/" method="POST">
        		<h4>Primary Contact Full Name </h4>
          		<input type="text" name="name"/>

          		<h4>Primary Contact Number </h4>
          		<input type="text" name="contactnum"/>

          		<h4>Primary Contact Email </h4>
          		<input type="text" name="contactemail"/>

          		<h4>Primary Contact NRIC </h4>
          		<input type="text" name="nric"/>
        	</form>
      	</div>

      	<!-- business information + validity -->
      	<div class="fcard">
        	<h5> Business Information </h5>

        	<form action="/" method="POST">
          		<h4>Business Name</h4>
          		<input type="text" name="bname"/>

          		<h4>Business Passwords</h4>
          		<p3>This password is to ensure that you are you when you upload clothes to sell.</p3>
          		<input type="text" name="bpw"/>
		</form>
      	</div>

      	<!-- confirmation -->
      	<div class="fheader">
        	<form action="/" method="POST">
          		<h4>By clicking agree, I hereby declare that the above information provided in this entire form is true & accurate; & I would like to proceed with my application to be a peache seller.</h4>
			<label class="container"><p4>Agree</p4>
  			<input type="checkbox" name="pdeclare" id="Agree">
  			<span class="checkmark"></span>
			</label>
				
			<label class="container"><p4>Disgree</p4>
  			<input type="checkbox" name="pdeclare" id="Disagree">
  			<span class="checkmark"></span>
			</label>
       		</form>
      	</div>
		<div class="fcard">
		<form action="/" method="POST">
			  <h1><input type="submit" value="Submit Form"><h1>
		</form>
	</div>
	<br>
	<br>
	<h1> p e a c h e </h1>
	<br>
    </p3>
  </body2>
</html>
