<html>
  <head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=devide-width, initial-scale=1.0">
    <title>peache seller product</title>
    <link rel = "stylesheet"
    type = "text/css"
    href = "../static/style.css" href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../media/peachelogo.PNG">

	</head>

	<body1>
	  <br>
    <div class="fheader">
		    <h7>peache   seller</h7>
    	</div>

	  <br><br>

	  <!-- Check -->

    <div class="fcard">
      <h2> Staff Login </h2>

      <form action="/staff" method="POST">
        <h4>Password </h4>
        <input type="password" name="pwd">
      </form>
    </div>
	  <br>
	  <br>
	  <h1> p e a c h e </h1>
	  <br>

  </body1>
</html>
